{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Adicionar Novo Contrato '{{contrato.num_contrato}}' {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Adicionar Novo Contrato </h1>
    <form method="POST" >
        {% csrf_token %}
        {{ form|crispy }}
        
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Por favor, corrija os erros abaixo:</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <input type="submit" class="btn btn-success" value="Criar Contrato" >
    </form>
    
</div>
{% endblock %}

